<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>KindChess</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cm-chessboard.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  <script type="module" src="{{ url_for('static', filename='game.js') }}"></script>
  <script type="module"
    src="{{ url_for('static', filename='node_modules/@shoelace-style/shoelace/dist/components/spinner/spinner.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/@shoelace-style/shoelace/dist/themes/light.css') }}" />
</head>

<body>
  <div id="loader">
    <sl-spinner style="font-size: 50px; --track-width: 10px; --track-color: dodgerblue;"></sl-spinner>
  </div>
  <main>
    <div id="board-container">
      <div id="board"></div>
    </div>
    <div id="buttons-container">
        <button id="resign-button" style="display: none;">Resign</button>
        <button id="draw-button" style="display: none;">Offer Draw</button>
        <button id="draw-withdraw-button" style="display: none;">Withdraw Draw Offer</button>
        <button id="draw-accept-button" style="display: none;">Accept Draw</button>
        <button id="draw-reject-button" style="display: none;">Reject Draw</button>
    </div>
    <div id="watcher-count"></div>
    <div id="messagebox"></div>
    <dialog id="modal"></dialog>
    <dialog id="pawn-promote">
        <form method="dialog">
            <p>
            <label>Pawn becomes:
                <select>
                    <option>Queen</option>
                    <option>Rook</option>
                    <option>Bishop</option>
                    <option>Knight</option>
                </select>
            </label>
            </p>
            <div>
                <button id="pawn-confirm-btn" value="default">Confirm</button>
            </div>
        </form>
    </dialog>
  </main>
  <script src="https://cdn.usefathom.com/script.js" data-site="NAUEEDJJ" defer></script>
</body>

</html>
