<!DOCTYPE html>
<html>
    <head>
        <title>ZevChess!</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cm-chessboard.css') }}">
        <style>
            textarea {
                position: absolute;
                right: 25vw;
                width: 40vw;
                height: 40vh;
            }
            #board {
              height: 30vh;
              width: 30vw;
            }
        </style>
        <script type="module" src="{{ url_for('static', filename='game.js') }}">
        </script>
    </head>
    <body>
        <div id="board"></div>
        <div id="watcher-count"></div>
        <textarea readonly id="ws"></textarea>
    </body>
</html>
