<!doctype html>
<html>
    <head>

    </head>
    <body>

        <div id="active-games">
            {% for uid in active_games %}
            <div>
                <a href="{{ url_for('game', uid=uid, _external=True) }}">game {{ uid }}</a>
            </div>
            {% endfor %}
        </div>
        <button>Create A Game</button>
        <script>
            const gameURL = "/"
            const activeGamesElement = document.getElementById("active-games");
            function addToActiveGames(uid) {
                const div = document.createElement("div");
                const newLink = document.createElement("a");
                newLink.href = `${gameURL}/${uid}`;
                newLink.innerText = `game ${uid}`;
                div.appendChild(newLink);
                activeGamesElement.appendChild(div);
            }
            const button = document.querySelector('button');
            button.addEventListener('click', async function() {
                console.log('creating a game!')
                const response = await fetch('/create_game', {method: "POST"});
                jsonBody = await response.json()
                console.log(jsonBody);
                addToActiveGames(jsonBody.uid)
            });
        </script>
    </body>
</html>
